.destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-5xl) 0;
    background-color: var(--cor-secundaria-ligth);
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destaque-titulo {
    color: var(--cor-primaria-dark);
}

.destaque-titulo > span {
    color: var(--cor-terciaria-dark);
}

.grupo-opcoes {
    display: flex;
    align-items: center;
    gap: var(--gap-s);
    flex-wrap: wrap;
}

.opcao {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: var(--padding-xl);
}

.opcao input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.opcao input[type="checkbox"] + span{
    position:absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--cor-neutra-dark);
    background-color: transparent;
    border-radius: 0.25rem;
}

.opcao input[type="checkbox"]:checked + span{
     background-color: var(--cor-primaria-ligth);
}